<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
    {{>navbar}}
   <!-- Main menu -->
   <div class="container-fluid main-menu ">
       <!-- <div class="row"> -->
             <div class="col-md-10 col-12 mx-auto  ">
                <div class="row ">
                <!-- left side div -->
                    <div class="col-md-12 col-12 align-items-center main_menu_left "> 
                      <figure class="errimg">
                        <img src="images/time.png" class="img-fluid" alt="">
                      </figure>
                     <p>Hello! My self Shivam Tiwari.</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/" target=""><button>Go Back</button></a>
                    </div> 
                </div>
            </div>
        <!-- </div> -->
    </div>
    {{>footer}}
</body>
</html>
