<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
    {{>navbar}}
   <!-- Main menu -->
   <div class="container-fluid main-menu ">
       <!-- <div class="row"> -->
             <div class="col-md-10 col-12 mx-auto  ">
                <div class="row ">
                <!-- left side div -->
                    <div class="col-md-6 col-12 main_menu_right "> 
                      <figure>
                        <img src="images/bg4.png" class="img-fluid" alt="">
                      </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_menu_left ">
                      <p>Hello! My self Shivam Tiwari.</p>
                        <h1>I am a MERN stack<span> Web & App developer</span>.</h1>
                        <a href="#" target=""><button>Know More</button></a>
                    </div> 
                </div>
            </div>
        <!-- </div> -->
    </div>
    {{>footer}}
</body>
</html>
